<div class="col-md-8 col-sm-12">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Línea</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">1</td>
        <td class="nationality">Renault</td>
        <td class="nationality">Kangoo</td>
        <td class="nationality">2017</td>
      </tr>
    </tbody>
  </table>
</div>
